<?xml version="1.0"?>
<!--things to check
      everything under appSettings
      all of the connection strings
      which database log4net is pointing at (line 85)
-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <!-- The server on which the spend analysis databases are. -->
    <add key="server" value="Researchdb8"/>

    <!-- Settings for re-building the system from scratch. -->
    <add key="repositoryRoot" value="E:\Work\atuk\"/>
    <add key="sqlData" value="D:\Data\"/>
    <add key="sqlLogs" value ="E:\Logs\"/>

    <add key="limboRebuild" value="false"/>
    <add key="heavenRebuild" value="false"/>
    <add key="purgatoryRebuild" value="false"/>

    <!-- Classification settings. -->
    <add key="purgatoryReclassify" value="true"/>
    <!-- Delete from expOpinion (including NB and decision trees). -->
    <add key="purgatoryRelearn" value="true"/>

    <add key="purgatoryRegatherTrainingData" value="false"/>
    <!--
      purgatoryRegatherTrainingData forces the training data to be regathered from Hell.
			It isn't needed when new training data is added to Hell,
			but is needed to find further examples of known training items.
			It takes around 14 hours for 5m items in Hell.
      -->

    <add key="purgatoryNaiveBayesReDo" value="true"/>
    <!-- Re-do IDs in nbInstancesToClassify instead of getting unclassified instances from Hell. Don't do this.-->

    <!-- Classification parameters. -->
    <add key="classificaitonSourceId" value="15"/>
    <!-- God..expSource.intId. Currently represents a classification system and depth. -->

  </appSettings>
  <connectionStrings>

    <add name="UKPLC Secure Ecommerce" connectionString="Server=researchdb9; database=UKPLC Secure Ecommerce; uid=sa; pwd=deter101;" providerName="System.Data.SqlClient"/>

    <!--
    <add name="Hell"          connectionString="Server=localhost; database=Hell;           uid=sa; pwd=deter101!;"/>
    <add name="Limbo"         connectionString="Server=localhost; database=Limbo;          uid=sa; pwd=deter101!;"/>
    <add name="Heaven"        connectionString="Server=localhost; database=Heaven;         uid=sa; pwd=deter101!;"/>
    <add name="Purgatory"     connectionString="Server=localhost; database=Purgatory;      uid=sa; pwd=deter101!;"/>
    <add name="God"           connectionString="Server=localhost; database=God;            uid=sa; pwd=deter101!;"/>
    <add name="UkplcPostcode" connectionString="Server=localhost; database=UKPLC Postcode; uid=sa; pwd=deter101!;"/>
    -->
  </connectionStrings>

  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup> 
</configuration>